@import "./fonts/roboto.scss";

$color-main            : linear-gradient(to right, #f2709c, #ff9472);
$color-dodger-blue     : #4796FF;

$font-roboto: 'Roboto', sans-serif;

.mb-10 {
    margin-bottom: 10px;
}
.mb-20 {
    margin-bottom: 20px;
}
.mb-30 {
    margin-bottom: 30px;
}