@import "./../../../../index.scss";

.button {
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 10px !important;
    border: none;
    background: $color-dodger-blue;
    color: #fff;
    font-size: inherit;
    cursor: pointer;
    &:focus {
        outline: none !important;
    }
}